{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>	
	<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static '/css/dataTables.bootstrap4.min.css' %}">
	<link rel="stylesheet" href="{% static '/css/snackbar.css' %}">
	<link rel="stylesheet" href="{% static '/css/style.css' %}">	
	<script src="{% static '/js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static '/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static '/js/popper.min.js' %}"></script>
	<script src="{% static '/js/tooltip.min.js' %}"></script>
	<script src="{% static '/js/bootstrap.min.js' %}"></script>		
	<script src="{% static '/js/dataTables.bootstrap4.min.js' %}"></script>		
	<link rel="icon" type="image/png" href="{% static '/img/favicon.png' %}">
	{% block extrahead %}{% endblock %}
</head>
<body>
{% if perms.is_staff %}
	{% include "cloud/baseAdmin.html" %}
{% elif user.is_authenticated %}
	{% include "cloud/baseUser.html" %}
{% else %}
	{% include "cloud/baseLogin.html" %}
{% endif %}
{% block context %}{% endblock %}
</body>
</html>
