{% load staticfiles %}
<div class="modal fade" id="fileDetailsModal" role="dialog" tabindex="-1" aria-labelledby="FileDetails" aria-hidden="true">
	<div class="modal-dialog" role="dialog">
		<div class="modal-content text-center">
			<div class="modal-header">
				<h4 class="modal-title" id="modalTitle">Details</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body" data-keyboard="false">
				<div id="wait" style="display: none; width: 69px; height: 89px; border: 1px solid black; position: absolute; top: 50%; left: 50%; padding: 2px;">
					<img src="{% static '/img/loading.gif' %}" width="64" height="64" /><br>Loading...
				</div>
				<h4 id="filename"></h4>
				<h4 id="filesize"></h4>
				<h4 id="filemodified"></h4>




				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" id="closeBtn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$(document).ajaxStart(function() {
			$("#wait").css("display", "block");
		});
		$(document).ajaxComplete(function() {
			$("#wait").css("display", "none");
		});
	});
	$('#fileDetailsModal').on("shown.bs.modal", function(e) {
		var filePath = $(e.relatedTarget).data('fp');
		$.ajax({
			url: "{% url 'fileDetails' %}?f=" + filePath,
			type: "GET",
			async: true,
			//data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
			dataType: "json",
			success: function(data){
				$("#modalTitle").html("Details: " + data.filename);
				$("#filename").html("Filename: " + data.filename);
				$("#filesize").html("File Size: " + data.filesize);
				$("#filemodified").html("Modified: " + new Date(data.filedate ).toUTCString().replace(/ GMT$/, ""));
			},
			timeout: 5000 // 3 Second timeout
		});
	});
</script>