{% load staticfiles %}
<div class="modal fade" id="shareModal" role="dialog" tabindex="-1" aria-labelledby="Sharing" aria-hidden="true">
	<div id="waitOverlay">
		<div class="wait-spinner">
			<span class="spinner"></span>
		</div>
	</div>
	<div class="modal-dialog modal-lg" role="dialog">
		<div class="modal-content text-center">
			<div class="modal-header">
				<h4 class="modal-title" id="shmodalTitle">Share: ...</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body" data-keyboard="false">
				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="pills-user-tab" data-toggle="pill" href="#pills-user" role="tab" aria-controls="pills-user" aria-selected="true">Users</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-group-tab" data-toggle="pill" href="#pills-group" role="tab" aria-controls="pills-group" aria-selected="false">Groups</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-public-tab" data-toggle="pill" href="#pills-public" role="tab" aria-controls="pills-public" aria-selected="false">Public Link</a>
					</li>
				</ul>
				<hr>
				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active" id="pills-user" role="tabpanel" aria-labelledby="pills-user-tab">
						<form action="{% url 'userShare' %}" method="post" class="form-horizontal user-form" id="usershareForm" role="form">
							{% csrf_token %}
							{{ usershareForm }}
							<p style="color: grey; font-size: 9pt;"><i>Note: Usernames are case sensitive</i></p>
							<label id="availStat-{{ usershareForm.username.html_name }}" hidden>unknown</label><br/>
							<div class="infosection" style="padding-top: 24px;">
								<h3 id="userStatus"></h3>
							</div>
							<div class="form-group">
								<button type="submit" class="save btn btn-primary" id="submitUser">Share</button>
							</div>
						</form>
						<hr>
						<h5> --- Shared with --- </h5>
						<table id='usershare' class="table table-striped table-bordered" style="width: 100%;">
							<thead>
								<tr>
									<th>Username</th>
									<th>Title</th>
									<th>Initials</th>
									<th style="display: none;">First Name</th>
									<th>Surname</th>
									<th>Email</th>
									<th>Can Edit</th>
									<th>Unshare</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="pills-group" role="tabpanel" aria-labelledby="pills-group-tab">
						<form action="{% url 'groupShare' %}" method="post" class="form-horizontal user-form" id="groupshareForm" role="form">
							{% csrf_token %}
							{{ groupshareForm }}
							<p style="color: grey; font-size: 9pt;"><i>Note: Group names are case sensitive</i></p>
							<label id="availStat-{{ groupshareForm.groupname.html_name }}" hidden>unknown</label><br/>
							<div class="infosection" style="padding-top: 24px;">
								<h3 id="groupStatus"></h3>
							</div>
							<div class="form-group">
								<button type="submit" class="save btn btn-primary" id="submitUser">Share</button>
							</div>
						</form>
						<hr>
						<h5> --- Shared with --- </h5>
						<table id='groupshare' class="table table-striped table-bordered" style="width: 100%";>
							<thead>
								<tr>
									<th>Group Name</th>
									<th>Can Edit</th>
									<th>Unshare</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="pills-public" role="tabpanel" aria-labelledby="pills-public-tab">
						<h4><u>Public Link</u></h4>
						<a id="sharelink" href="" target="_blank" style="font-size: 16pt;"><b>http://cloud.cs.up.ac.za/s/share</b></a><i id="linkcopy" onclick="copyLink();" class="fa fa-clone" style="cursor: pointer; padding-left: 8px; padding-bottom: 16px; font-size: 16pt;" data-toggle="tooltip" title="Copy Link"></i><br/><hr>
						<label for="edit_cb" style="font-size: 12pt; padding-right: 8px;">Can Edit?</label><input type="checkbox" class="form-control" id="edit_cb" style="font-size: 12pt;"><br/>
						<button type="button" class="btn btn-primary" id="pubShareBtn" onclick="publicShare()">Share</button>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" id="closeBtn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var groupTable = null;
	var userTable = null;
	var filePath = "";
	var fileName = "";
	var gshareStatus = $('#groupStatus');
	var ushareStatus = $('#userStatus');
	$(document).ready(function() {
		$(document).ajaxStart(function() {
			$("#waitOverlay").fadeIn(300);
		});
		$(document).ajaxComplete(function() {
			$("#waitOverlay").fadeOut(300);
		});
	});
	$("#shareModal").on("hidden.bs.modal", function() {
		// Clean up on modal close
		$("#shmodalTitle").html("Share: ...");
		$("#edit_cb").attr("checked", false);
		// Clear datatables
		groupTable.destroy();
		userTable.destroy();
		groupTable = null;
		userTable = null;
		filePath = "";
		fileName = "";
		gshareStatus.empty();
		ushareStatus.empty();
		$("#{{ groupshareForm.groupname.html_name }}").val("");
		$("#{{ usershareForm.username.html_name }}").val("");
	});
	$('#shareModal').on("shown.bs.modal", function(e) {
		$("#shmodalTitle").html("<b>Share:</b> " + $(e.relatedTarget).data('fn'));
		fileName = $(e.relatedTarget).data('fn');
		filePath = $(e.relatedTarget).data('fp');
		$("#groupshareForm").ajaxForm({
			url: '{% url 'groupShare' %}',
			data: {'fn': fileName, 'fp': filePath},
			type: 'post',
			beforeSend: function(xhr) {
				if($("#{{ groupshareForm.groupname.html_name }}").val() == '') {
					gshareStatus.empty();
					gshareStatus.html("Group Name Required");
					$("#{{ groupshareForm.groupname.html_name }}").focus();
					xhr.abort();
					return false; // Abort send
				} else {
					gshareStatus.empty();
					return true; // Send
				}
			},
			complete: function(data) {
				var jsonResponse = JSON.parse(data.responseText);
				if(jsonResponse.result === 0) {
					gshareStatus.html("Shared Successfully");
					$("#{{ groupshareForm.groupname.html_name }}").val("");
					groupTable.ajax.reload();
					setTimeout(function() {gshareStatus.empty();}, 1500);
				} else if(jsonResponse.result === 1) {
					gshareStatus.html("Error: Group not found");
					$("#{{ groupshareForm.groupname.html_name }}").select();
				} else if(jsonResponse.result === 2) {
					gshareStatus.html("Already shared with group");
					$("#{{ groupshareForm.groupname.html_name }}").select();
				} else if(jsonResponse.result === 3) {
					gshareStatus.html("Error: Not a group member");
					$("#{{ groupshareForm.groupname.html_name }}").select();
				} else {
					gshareStatus.html("Error sharing file");
				}
			},
			failure: function() {
				gshareStatus.html("File sharing failed");
			},
			error: function() {
				gshareStatus.html("File sharing error");
			}
		});
		$("#usershareForm").ajaxForm({
			url: '{% url 'userShare' %}',
			data: {'fn': fileName, 'fp': filePath},
			type: 'post',
			beforeSend: function(xhr) {
				if($("#{{ usershareForm.username.html_name }}").val() == '') {
					ushareStatus.empty();
					ushareStatus.html("Username Required");
					$("#{{ usershareForm.username.html_name }}").focus();
					xhr.abort();
					return false; // Abort send
				} else {
					ushareStatus.empty();
					return true; // Send
				}
			},
			complete: function(data) {
				var jsonResponse = JSON.parse(data.responseText);
				if(jsonResponse.result === 0) {
					ushareStatus.html("Shared Successfully");
					$("#{{ usershareForm.username.html_name }}").val("");
					userTable.ajax.reload();
					setTimeout(function() {ushareStatus.empty();}, 1500);
				} else if(jsonResponse.result === 1) {
					ushareStatus.html("Error: User not found");
					$("#{{ usershareForm.username.html_name }}").select();
				} else if(jsonResponse.result === 2) {
					ushareStatus.html("Already shared with user");
					$("#{{ usershareForm.username.html_name }}").select();
				} else if(jsonResponse.result === 3) {
					ushareStatus.html("Error: Cannot share file with yourself");
					$("#{{ usershareForm.username.html_name }}").select();
				} else {
					ushareStatus.html("Error sharing file");
				}
			},
			failure: function() {
				ushareStatus.html("File sharing failed");
			},
			error: function() {
				ushareStatus.html("File sharing error");
			}
		});
		$.ajax({
			url: "{% url 'publicShare' %}",
			type: "POST",
			async: true,
			data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'filepath': filePath, 'lst': 0},
			dataType: "json",
			success: function(data) {
				if(data.result === 0) {
					$("#sharelink").text(data.sharelink);
					$("#sharelink").attr("href", data.sharelink);
					$("#linkcopy").show();
					$("#edit_cb").attr("checked", data.shareedit);
					$("#edit_cb").attr("disabled", true);
					$("#pubShareBtn").text("Delete Link");	
				} else {
					$("#sharelink").text("--- Not Shared ---");
					$("#sharelink").removeAttr("href");
					$("#linkcopy").hide();
					$("#edit_cb").attr("checked", false);
					$("#edit_cb").attr("disabled", false);
					$("#pubShareBtn").text("Share");
				}
			},
			error: function() {
				$("#sharelink").text("Error: Link could not be retrieved");
				$("#sharelink").removeAttr("href");
				$("#linkcopy").hide();
			},
			failure: function() {
				$("#sharelink").text("Error: Link could not be retrieved");
				$("#sharelink").removeAttr("href");
				$("#linkcopy").hide();
			},
			timeout: 5000 // 5 Second timeout
		});
		groupTable = $("#groupshare").DataTable({
			paging: true,
			"pageLength": 10,
			ajax: {
				url: "{% url 'groupShare' %}",
				type: "POST",
				async: true,
				data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'fp': filePath, 'lst': 0},
				dataType: "json",
				dataSrc: ""
			},
			"columns": [
				{ data: "group__name", "orderable": true, "searchable": true }, // group name
				{ data: null, "orderable": false, "searchable": false, render: function(data, type, row) {
					if(data.url__can_edit == true) {
						return '<i class="fa fa-check style="font-size: 16pt;"></i>';
					} else {
						return '<i class="fa fa-times style="font-size: 16pt;"></i>';
					}
				} }, // Can Edit
				{ data: null, "orderable": false, "searchable": false, render: function(data, type, row) {
					return '<button type="button" class="btn btn-danger btn-xs rounded-circle" onclick="unshare(\''+data.group__pk+'\', 1);"><i class="fa fa-user-times" style="color: white; font-size: 16pt;" data-toggle="tooltip" title="Unshare with '+data.group__name+'?"></i></button>';
					}
				} // delete button
			],
			destroy: true
		});
		userTable = $("#usershare").DataTable({
			paging: true,
			"pageLength": 10,
			ajax: {
				url: "{% url 'userShare' %}",
				type: "POST",
				async: true,
				data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'fp': filePath, 'lst': 0},
				dataType: "json",
				dataSrc: ""
			},
			"columns": [
				{ data: "shared_with__pk", "orderable": true, "searchable": true }, // user_id
				{ data: "shared_with__title", "orderable": false, "searchable": false }, // title
				{ data: "shared_with__initials", "orderable": false, "searchable": true }, // initials
				{ data: "shared_with__name", "orderable": false, "searchable": true, visible: false }, // first name (hidden)
				{ data: "shared_with__surname", "orderable": true, "searchable": true }, // surname
				{ data: "shared_with__email", "orderable": false, "searchable": true }, // email
				{ data: null, "orderable": false, "searchable": false, render: function(data, type, row) {
					if(data.url__can_edit == true) {
						return '<i class="fa fa-check style="font-size: 16pt;"></i>';
					} else {
						return '<i class="fa fa-times style="font-size: 16pt;"></i>';
					}
				} }, // Can Edit
				{ data: null, "orderable": false, "searchable": false, render: function(data, type, row) {
					return '<button type="button" class="btn btn-danger btn-xs rounded-circle" onclick="unshare(\''+data.shared_with__pk+'\', 0);"><i class="fa fa-user-times" style="color: white; font-size: 16pt;" data-toggle="tooltip" title="Unshare with '+data.shared_with__pk+'?"></i></button>';
					}
				} // delete button
			],
			destroy: true
		});
	});
	function unshare(sid, stype) {
		// stype
		// 0 - user
		// 1 group
		uurl = "";
		if(stype == 0) {
			$.ajax({
			url: "{% url 'userShare' %}",
			type: "POST",
			data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'fp': filePath, 'del': sid},
			dataType: "json",
			success: function(data) {
				if(data.result === 0) {
					userTable.ajax.reload();
					ushareStatus.empty();
				} else {
					ushareStatus.html("Unsharing operation failed");
				}
			},
			error: function() {
				ushareStatus.html("Unsharing operation failed");
			},
			failure: function() {
				ushareStatus.html("Unsharing operation failed");
			},
			timeout: 5000 // 5 Second timeout
		});
		} else if(stype == 1) {
			$.ajax({
			url: "{% url 'groupShare' %}",
			type: "POST",
			data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'fp': filePath, 'del': sid},
			dataType: "json",
			success: function(data) {
				if(data.result === 0) {
					groupTable.ajax.reload();
					gshareStatus.empty();
				} else {
					gshareStatus.html("Unsharing operation failed");
				}
			},
			error: function() {
				gshareStatus.html("Unsharing operation failed");
			},
			failure: function() {
				gshareStatus.html("Unsharing operation failed");
			},
			timeout: 5000 // 5 Second timeout
		});
		} else {
			alert("Unshare error");
		}		
	}
	function publicShare() {
		$.ajax({
			url: "{% url 'publicShare' %}",
			type: "POST",
			async: true,
			data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'filepath': filePath, 'canedit': $("#edit_cb").is(":checked") ? 1 : 0},
			dataType: "json",
			success: function(data) {
				if(data.result === 0) {
					$("#sharelink").text(data.sharelink);
					$("#sharelink").attr("href", data.sharelink);
					$("#linkcopy").show();
					$("#edit_cb").attr("checked", data.shareedit);
					$("#edit_cb").attr("disabled", true);
					$("#pubShareBtn").text("Delete Link");
				} else if(data.result === 1) {
					$("#sharelink").text("--- Not Shared ---");
					$("#sharelink").removeAttr("href");
					$("#linkcopy").hide();
					$("#edit_cb").attr("checked", data.shareedit);
					$("#edit_cb").attr("disabled", false);
					$("#pubShareBtn").text("Share");
				} else {
					$("#sharelink").text("Error: File could not be shared");
					$("#sharelink").removeAttr("href");
					$("#linkcopy").hide();
					$("#pubShareBtn").text("Share");
				}
			},
			error: function() {
				$("#sharelink").text("Error: Link could not be retrieved");
				$("#sharelink").removeAttr("href");
				$("#linkcopy").hide();
				$("#edit_cb").attr("checked", false);
				$("#pubShareBtn").text("Share");
			},
			failure: function() {
				$("#sharelink").text("Error: Link could not be retrieved");
				$("#sharelink").removeAttr("href");
				$("#linkcopy").hide();
				$("#edit_cb").attr("checked", false);
				$("#pubShareBtn").text("Share");
			},
			timeout: 5000 // 5 Second timeout
		});
	}	
	function copyLink() {
		// Create new element
		var el = document.createElement('textarea');
		el.value = $('#sharelink').text();
		document.body.appendChild(el);
		el.select();
		// Copy text to clipboard
		document.execCommand('copy');
		// Remove temporary element
		document.body.removeChild(el);
	}
	// Placeholder functions to be implemented later
	function checkGroup() {}
	function checkUser() {}
	function resetGroup() {}
	function resetUser() {}
</script>