{% extends "cloud/base.html" %}
{% load staticfiles %}
{% block extrahead %}
	<title>Shared with Me - CS Cloud</title>
	<style>
		.cscbrowser {
			position: absolute;
			left: 16px;
			right: 16px;
		}
	</style>
{% endblock extrahead %}
{% block context %}
<div class="cscbrowser">
	<div class="card my-5 shadow p-4 mb-4 bg-white" style="overflow: auto;">
		<div class="card-header" style="border-radius: 16px;"><h4>Shared with Me</h4></div>
		<table class="table">
			<thead>
				<tr>
					<th>Type</th>
					<th>Name</th>
					<th>Owner</th>
					<th style="color: grey;">Sharing</th>
				</tr>
			</thead>
			<tbody>
				{% for file in swm_data %}
				<tr>
					<td>{{file.filetype}}</td>					
					<td><a href="{% url 'swmAccess' file.url %}">{{file.filename}}</a></td>
					<td>{{file.owner}}</td>
					<td><i class="fa fa-{% if file.isgroup %}group{%else%}user{%endif%}" style="font-size: 16pt; color: grey;" data-toggle="tooltip" title="Shared with {% if file.isgroup %}Group{%else%}User{%endif%}"></i></td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="5">Nothing to see here.<br/><br/><b>No Files Shared With You</b></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% include "cloud/alertModal.html" %}
<script type="text/javascript">
	$(document).ready(function() {
		$('[data-toggle="tooltip"]').tooltip();
	});
	window.alert = function(message) {
		// Alert window override
		$("#alertModal").modal('show');
		$("#alertMsg").html(message);
	};
</script>
{% endblock %}