{% load staticfiles %}
<div class="modal fade" id="shareModal" role="dialog" tabindex="-1" aria-labelledby="Sharing" aria-hidden="true">
	<div id="waitOverlay">
		<div class="wait-spinner">
			<span class="spinner"></span>
		</div>
	</div>
	<div class="modal-dialog modal-lg" role="dialog">
		<div class="modal-content text-center">
			<div class="modal-header">
				<h4 class="modal-title" id="shmodalTitle">Share: ...</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body" data-keyboard="false">
				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="pills-user-tab" data-toggle="pill" href="#pills-user" role="tab" aria-controls="pills-user" aria-selected="true">Users</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-group-tab" data-toggle="pill" href="#pills-group" role="tab" aria-controls="pills-group" aria-selected="false">Groups</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-public-tab" data-toggle="pill" href="#pills-public" role="tab" aria-controls="pills-public" aria-selected="false">Public Link</a>
					</li>
				</ul>
				<hr>
				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active" id="pills-user" role="tabpanel" aria-labelledby="pills-user-tab">
						<form action="{% url 'userShare' %}" method="post" class="form-horizontal user-form" id="usershareForm" role="form">
							{% csrf_token %}
							{{ usershareForm }}
							<label id="availStat-{{ usershareForm.username.html_name }}" hidden>unknown</label><br/>
							<div class="form-group">
								<button type="submit" class="save btn btn-primary" id="submitUser">Share</button>
							</div>
						</form>
						<hr>
						<h5> --- Shared with --- </h5>
						<table id='usershare' class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>Username</th>
									<th>Title</th>
									<th>Initials</th>
									<th style="display: none;">First Name</th>
									<th>Surname</th>
									<th>Email</th>
									<th>Unshare</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="pills-group" role="tabpanel" aria-labelledby="pills-group-tab">
						<form action="{% url 'groupShare' %}" method="post" class="form-horizontal user-form" id="groupshareForm" role="form">
							{% csrf_token %}
							{{ groupshareForm }}
							<label id="availStat-{{ groupshareForm.groupname.html_name }}" hidden>unknown</label><br/>
							<div class="form-group">
								<button type="submit" class="save btn btn-primary" id="submitUser">Share</button>
							</div>
						</form>
						<hr>
						<h5> --- Shared with --- </h5>
						<table id='groupshare' class="table table-striped table-bordered" style="width: 100%";>
							<thead>
								<tr>
									<th>Group Name</th>
									<th>Unshare</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="pills-public" role="tabpanel" aria-labelledby="pills-public-tab">
						<h4><u>Public Link</u></h4>
						<a id="sharelink" href="" target="_blank" style="font-size: 16pt;"><b>http://cloud.cs.up.ac.za/s/link</b></a><i id="linkcopy" onclick="copyLink();" class="fa fa-clone" style="cursor: pointer; padding-left: 8px; padding-bottom: 16px; font-size: 16pt;" data-toggle="tooltip" title="Copy Link"></i><br/>
						<button type="button" class="btn btn-primary" id="pubShareBtn" onclick="publicShare()">Share</button>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" id="closeBtn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var groupTable = null;
	var userTable = null;
	var filePath = "";
	$(document).ready(function() {
		$(document).ajaxStart(function() {
			$("#waitOverlay").fadeIn(300);
		});
		$(document).ajaxComplete(function() {
			$("#waitOverlay").fadeOut(300);
		});
	});
	$("#shareModal").on("hidden.bs.modal", function() {
		// Clean up on modal close
		$("#shmodalTitle").html("Share: ...");
		// Clear datatables
		groupTable.destroy();
		userTable.destroy();
		groupTable = null;
		userTable = null;
		filePath = "";
	});
	$('#shareModal').on("shown.bs.modal", function(e) {
		$("#shmodalTitle").html("<b>Share:</b> " + $(e.relatedTarget).data('fn'));
		filePath = $(e.relatedTarget).data('fp');
		$.ajax({
			url: "{% url 'publicShare' %}",
			type: "POST",
			async: true,
			data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'filepath': filePath, 'lst': 0},
			dataType: "json",
			success: function(data) {
				if(data.result === 0) {
					$("#sharelink").text(data.sharelink);
					$("#sharelink").attr("href", data.sharelink);
					$("#linkcopy").show();
					$("#pubShareBtn").text("Delete Link");	
				} else {
					$("#sharelink").text("--- Not Shared ---");
					$("#sharelink").removeAttr("href");
					$("#linkcopy").hide();
					$("#pubShareBtn").text("Share");
				}
			},
			error: function() {
				$("#sharelink").text("Error: Link could not be retrieved");
				$("#sharelink").removeAttr("href");
				$("#linkcopy").hide();
			},
			failure: function() {
				$("#sharelink").text("Error: Link could not be retrieved");
				$("#sharelink").removeAttr("href");
				$("#linkcopy").hide();
			},
			timeout: 5000 // 5 Second timeout
		});
		groupTable = $("#groupshare").DataTable({
			paging: true,
			"pageLength": 10,
			ajax: {
				url: "{% url 'groupShare' %}",
				type: "POST",
				async: true,
				data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'lst': 0},
				dataType: "json",
				dataSrc: ""
			},
			"columns": [
				{ data: "fields.name", "orderable": true, "searchable": true }, // group name
				{ data: null, "orderable": false, "searchable": false, render: function(data, type, row) {
					return '<button type="button" class="btn btn-danger btn-xs rounded-circle" onclick="unshare(\''+data.pk+'\');"><i class="fa fa-user-times" style="color: white; font-size: 16pt;" data-toggle="tooltip" title="Unshare with '+data.fields.name+'?"></i></button>';
					}
				} // delete button
			],
			destroy: true
		});
		userTable = $("#usershare").DataTable({
			paging: true,
			"pageLength": 10,
			ajax: {
				url: "{% url 'userShare' %}",
				type: "POST",
				async: true,
				data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'lst': 0},
				dataType: "json",
				dataSrc: ""
			},
			"columns": [
				{ data: "pk", "orderable": true, "searchable": true }, // user_id
				{ data: "fields.title", "orderable": false, "searchable": false }, // title
				{ data: "fields.initials", "orderable": false, "searchable": true }, // initials
				{ data: "fields.name", "orderable": false, "searchable": true, visible: false }, // first name (hidden)
				{ data: "fields.surname", "orderable": true, "searchable": true }, // surname
				{ data: "fields.email", "orderable": false, "searchable": true }, // email
				{ data: null, "orderable": false, "searchable": false, render: function(data, type, row) {
					return '<button type="button" class="btn btn-danger btn-xs rounded-circle" onclick="unshare(\''+data.pk+'\');"><i class="fa fa-user-times" style="color: white; font-size: 16pt;" data-toggle="tooltip" title="Unshare with '+data.pk+'?"></i></button>';
					}
				} // delete button
			],
			destroy: true
		});
	});
	function unshare(uid) {
		alert("removing " + uid);
	}
	function publicShare() {
		$.ajax({
			url: "{% url 'publicShare' %}",
			type: "POST",
			async: true,
			data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'filepath': filePath},
			dataType: "json",
			success: function(data) {
				if(data.result === 0) {
					$("#sharelink").text(data.sharelink);
					$("#sharelink").attr("href", data.sharelink);
					$("#linkcopy").show();
					$("#pubShareBtn").text("Delete Link");
				} else if(data.result === 1) {
					$("#sharelink").text("--- Not Shared ---");
					$("#sharelink").removeAttr("href");
					$("#linkcopy").hide();
					$("#pubShareBtn").text("Share");
				} else {
					$("#sharelink").text("Error: File could not be shared");
					$("#sharelink").removeAttr("href");
					$("#linkcopy").hide();
					$("#pubShareBtn").text("Share");
				}
			},
			error: function() {
				$("#sharelink").text("Error: Link could not be retrieved");
				$("#sharelink").removeAttr("href");
				$("#linkcopy").hide();
			},
			failure: function() {
				$("#sharelink").text("Error: Link could not be retrieved");
				$("#sharelink").removeAttr("href");
				$("#linkcopy").hide();
			},
			timeout: 5000 // 5 Second timeout
		});
	}
	function copyLink() {		
		// Create new element
		var el = document.createElement('textarea');
		el.value = $('#sharelink').text();
		// Set non-editable to avoid focus and move outside of view
		el.setAttribute('readonly', '');
		el.style = {position: 'absolute', left: '-9999px'};
		document.body.appendChild(el);
		// Select text inside element
		el.select();
		// Copy text to clipboard
		document.execCommand('copy');
		// Remove temporary element
		document.body.removeChild(el);
	}
</script>