{% load staticfiles %}
<div class="modal fade" id="uploadModal" role="dialog" tabindex="-1" aria-labelledby="FileUpload" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content text-center">
			<div class="modal-header">
				<h4 class="modal-title" id="modalTitle">File Upload</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body" data-keyboard="false">
				<form action="{% url 'fileUpload' %}" method="post" enctype="multipart/form-data" id="uploadForm">
					{%csrf_token%}
					{{uploadForm}}
					<div class="fileloader" style="padding-top: 24px;">
						<div class=" progress progress-bar bg-primary" id="uploadBar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; display: none;"></div>
						<h3 id="uploadStatus"></h3>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" id="uploadBtn">Upload</button>
				<button type="button" class="btn btn-secondary" id="closeBtn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	// Allow upload if ajax query takes too long
	var availableSpace = Number.POSITIVE_INFINITY;
	$("#uploadBtn").click(function() {
		$("#uploadForm").submit();
	});
	$("#{{uploadForm.user_files.auto_id}}").change(function() {
		$("#uploadStatus").empty();
	});
	$("#uploadModal").on("hidden.bs.modal", function() {
		// Clean up on modal close
		$("#{{uploadForm.user_files.auto_id}}").val("");
		$("#uploadStatus").empty();
		$("#closeBtn").attr("disabled", false);
		$("#uploadBtn").attr("disabled", false);
		$("#uploadBar").attr("style", "display: none; width: 0%");
		window.location.reload();
	});
	$(document).ready(function(){
		$.ajax({
			url: "{% url 'checkQuota' %}",
			type: "POST",
			async: true,
			data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
			dataType: "json",
			success: function(data){
				availableSpace = parseInt(data.available);
			},
			timeout: 3000 // 3 Second timeout
		});
	});
	$(function() {
			var loadBar = $('#uploadBar');
			var uploadBtn = $("#uploadBtn");
			var uploadStatus = $('#uploadStatus');
			$("#uploadForm").ajaxForm({
				url: '{% url 'fileUpload' %}',
				type: 'post',
				beforeSend: function(xhr) {
					if($("#{{uploadForm.user_files.auto_id}}").val() == '') {
						uploadStatus.empty();
						uploadStatus.html("Select file(s) to upload");
						xhr.abort();
						return false; // Abort send
					} else {
						var totalSize = 0;
						// Validate file sizes can be uploaded
						var filesToUpload = $('#{{uploadForm.user_files.auto_id}}').get(0).files;
						for(i = 0; i < filesToUpload.length; i++) {
							totalSize += filesToUpload[i].size;
						}
						if(totalSize > availableSpace) { // Available
							uploadStatus.empty();
							uploadStatus.html("<h4 style=\"color: red;\">Insufficient Space To  Upload File(s)</h4>");
							xhr.abort();
							return false; // Abort send
						}
						uploadStatus.empty();
						loadBar.attr("aria-valuenow", 0);
						loadBar.attr("style", "width: 0%");
						loadBar.html("0%");
						uploadBtn.attr("disabled", true);
						return true; // Send
					}
				},
				uploadProgress: function(event, position, total, percentComplete) {
					loadBar.attr("aria-valuenow", parseInt(Math.round(percentComplete)));
					loadBar.attr("style", "width: " + Math.round(percentComplete) + "%");
					loadBar.html(Math.round(percentComplete) + "%");
				},
				complete: function(data) {
					var jsonResponse = JSON.parse(data.responseText);
					if(jsonResponse.result === 0) {
						if(parseInt(jsonResponse.insufficient) === 0) {
							uploadStatus.html("Upload Complete");
							// Close modal after 2.0 sec
							setTimeout(function() {$('#uploadModal').modal('hide');}, 2000);
						} else {
							uploadStatus.html("Upload Completed With Errors<br/><br/><h5 style=\"color: red;\">" + parseInt(jsonResponse.insufficient) +
								(parseInt(jsonResponse.insufficient) === 1 ? " file " : " files ") + "failed due to insufficient space</h5>");
						}
						// Update user's available space
						$.ajax({
							url: "{% url 'checkQuota' %}",
							type: "POST",
							async: true,
							data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
							dataType: "json",
							success: function(data){
								availableSpace = parseInt(data.available);
							},
							timeout: 3000 // 3 Second timeout
						});
					} else {
						uploadStatus.html("Upload Failed");
					}
					loadBar.attr("style", "display: none; width: 0%");
					loadBar.empty();
					uploadBtn.attr("disabled", false);
				},
				failure: function() {
					loadBar.attr("style", "display: none; width: 0%");
					uploadStatus.html("Upload Failed");
					uploadBtn.attr("disabled", false);
				},
				error: function() {
					loadBar.attr("style", "display: none; width: 0%");
					uploadStatus.html("Upload Error");
					uploadBtn.attr("disabled", false);
				}
			});
		});
</script>