{% load staticfiles %}
<div class="modal fade" id="userGroupModal" role="dialog" tabindex="-1" aria-labelledby="UserGroups" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="dialog">
		<div class="modal-content text-center">
			<div class="modal-header">
				<h4 class="modal-title" id="gmodalTitle">User Groups: ...</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body" data-keyboard="false">
				<iframe id="userGroupsFrm" src="" style="width: 100%; height: 512px;"></iframe>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" id="closeBtn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#userGroupModal").on("hidden.bs.modal", function() {
		// Clean up on modal close
		document.getElementById('userGroupsFrm').src = "";
	});
	$('#userGroupModal').on("shown.bs.modal", function(e) {
		var uid = $(e.relatedTarget).data('usr');
		document.getElementById('userGroupsFrm').src = "{%url 'adminListGroup'%}?uid=" + uid;
		$("#gmodalTitle").html(uid + "'s groups");
	});
</script>