{% extends "cloud/base.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% block extrahead %}
	<title>User Admin - CS Cloud</title>
	<style>
	a {
		font-family: sans-serif;
		color: #303030
	}
	p {
		padding-left: 5px;
		font-size: 16pt
	}
	th {
		text-align: center;
	}
	.accordion .card-header:after {
		font-family: 'FontAwesome';
		font-size: 17pt;
		content: "\f068";
		float:right
	}
	.accordion .card-header.collapsed:after {
		content: "\f067"
	}
	#remove {
		color: white;
	}
</style>
{% endblock extrahead %}
{% block context %}
<div class="container">
	<div class="shadow p-4 mb-4 bg-white" style="border-radius: 25px;">
		{% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }}"><strong>{{ message|safe }}</strong></div>
		<hr class="my-4">
		{% endfor %}
		{% endif %}
		<div id="accordion" class="accordion">
			<div class="card mb-0" style="border-radius: 25px;">
				<div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
					<a class="card-title">
						<p style="font-family: arial; font-size: 19pt; display: inline;" align="center">User Registration</p>
					</a>
				</div>
				<div id="collapseOne" class="collapse collapse" data-parent="#accordion">
					<div class="card-body">
						<form action="{% url 'submitUser' %}" method="post" onsubmit="return validateUserForm(false);" class="form-horizontal user-form" id="userForm" role="form">
							{% csrf_token %}
							{{ userForm }}
							<label id="availStat-{{ userForm.user_id.html_name }}" hidden>unknown</label><br/>
							<label id="availStat-{{ userForm.email.html_name }}" hidden>unknown</label><br/>
							<div class="form-group">
								<!-- Submit Button -->
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="save btn btn-primary" id="submitUser">Create User Account</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Maintain Users -->
		<div id="accordion2" class="accordion" style="padding-top: 8px;">
			<div class="card mb-0" style="border-radius: 25px;">
				<div class="card-header collapsed" data-toggle="collapse" href="#collapseTwo">
					<a class="card-title">
						<p style="font-family: arial; font-size: 19pt; display: inline;" align="center">Maintain Users</p>
					</a>
				</div>
				<div id="collapseTwo" class="collapse collapse" data-parent="#accordion2">
					<div class="card-body" style="overflow-x: auto;">
						<table id='users' class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>Username</th>
									<th>Title</th>
									<th>Initials</th>
									<th style="display: none;">First Name</th>
									<th>Surname</th>
									<th>Email</th>
									<th style="display: none;">Cellphone</th>
									<th>Admin</th>
									<th>Disk Usage (MiB)</th>
									<th style="display: none;">Disk Quota</th>
									<th>Edit</th>
									<th>Delete</th>
									<th><i class="fa fa-trash-o" data-toggle="tooltip" title="Multiple Delete" style="font-size: 14pt"></i></th>
								</tr>
							</thead>
							<tbody>
								{% for user in users %}
								<tr id="user_id-{{ user.pk }}">
									<td data-id="user_id">{{ user.user_id }}</td>
									<td data-id="title">{{ user.title }}</td>
									<td data-id="initials" >{{ user.initials }}</td>
									<td data-id="fname" style="display: none;">{{ user.name }}</td>
									<td data-id="surname">{{ user.surname }}</td>
									<td data-id="email">{{ user.email }}</td>
									<td data-id="cell" style="display: none;">{{ user.cell }}</td>
									<td data-id="acc_type" style="text-align: center;"><i class="fa {% if user.is_staff %}fa-check{%else%}fa-times{%endif%}" style="font-size: 16pt;"></i></td>
									<td data-id="spaceUsed" data-sort="{{user.used_quota}}" style="text-align: center;">{{ user.used_quota|div:1048576 }}/{{ user.disk_quota|div:1048576 }}<br/>({{user.used_quota|div:user.disk_quota|mul:100}}%)</td>
									<td data-id="quota" style="display: none;">{{ user.disk_quota|div:1048576 }}</td>
									<td style="text-align: center;">
										<button type="button" name="edit" class='btn btn-primary btn-xs rounded-circle edit'
												data-toggle="modal" data-target="#editModal"
												data-csrf='{{ csrf_token }}' data-id="{{ user.user_id }}"
												data-pk="{{ user.pk }}"><i class="fa fa-pencil" style="color: white; font-size: 16pt;" data-toggle="tooltip" title="Edit {{ user.user_id }}"></i></button>
									</td>
									<td style="text-align: center;">
										<button type="button" class="btn btn-danger btn-xs rounded-circle" onclick="deleteUser('{{ user.user_id}}')"><i class="fa fa-trash-o" style="color: whire; font-size: 16pt;" data-toggle="tooltip" title="Delete {{ user.user_id }}?"></i></button>
									</td>
									<td style="text-align: center;">
										<input type="checkbox" class="multiRemove" data-id="{{ user.user_id }}"
											   data-pk="{{ user.pk }}" data-toggle="tooltip" title="Delete {{ user.user_id }}?">
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table><br/>
						<button type="button" name="remove" id="remove" class='btn btn-warning pull-left' data-csrf="{{csrf_token}}"
								data-id="{{ user.user_id }}" data-pk="{{ user.pk }}">Delete Selected Users</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include "cloud/alertModal.html" %}
{% include "cloud/confirmModal.html" %}
{% include "cloud/userEditModal.html" %}
<script src="{% static '/js/validation.js' %}"></script>
<script type="text/javascript">
	userTable = null;
	/*
	Function to check if the entered username and email are available for use
	*/
	function checkUser() {
		checkAvail("{{ userForm.user_id.html_name }}");
	}

	function checkEmail() {
		checkAvail("{{ userForm.email.html_name }}");
	}
	function resetUser() {
		resetField("{{ userForm.user_id.html_name }}");
	}
	function resetEmail() {
		resetField("{{ userForm.email.html_name }}");
	}
	function resetField(id) {
		$("#" + id).removeAttr("style");
		$("#" + id).removeAttr("data-toggle");
		$("#" + id).removeAttr("title");
		$("#availStat-" + id).text("unknown");
	}
	function checkAvail(id) {
		if(!$.trim($("#" + id).val()).length) {
			return; // Textbox blank
		}

		$.ajax({
			url: "{% url 'checkUser' %}",
			type: "POST",
			async: true,
			data: {'data': id == "{{ userForm.user_id.html_name }}" ? "ui" : "em", 'query': $.trim($("#" + id).val()),
				'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').prop('value')},
			dataType: "json",
			success: function (data) {
				if(data.result === 0) { // Available
					$("#" + id).attr("style", "background-color: #387C44; color: white");
					$("#" + id).attr("data-toggle", "tooltip");
					$("#" + id).attr("title", "Available");
					$("#availStat-" + id).text("true");
				} else if(data.result === 2) {
					$("#" + id).attr("style", "background-color: #F2A814; color: white");
					$("#" + id).attr("data-toggle", "tooltip");
					$("#" + id).attr("title", "Invalid email address");
					$("#availStat-" + id).text("false");
				} else {
					$("#" + id).attr("style", "background-color: #C04000; color: white");
					$("#" + id).attr("data-toggle", "tooltip");
					$("#" + id).attr("title", "Already in use");
					$("#availStat-" + id).text("false");
				}
			},
			failure: function () {
				$("#availStat-" + id).text("fail");
			},
			error: function () {
				$("#availStat-" + id).text("error");
			},
			timeout: 3000 // 3 Second timeout
		});
	}
	function confirmDelete(msg, accData, deleteList, uncheck) {
		// Deletion confirmation modal
		$("#confirmModal").modal('show');
		$("#confirmMsg").html(msg);
		$("#confirmYes").unbind().on("click", function() {
			$("#confirmModal").modal('hide');
			$.ajax({
				type: 'POST',
				url: "{% url 'adminDeleteUser' %}",
				data: accData,
				success: function() {
					$.each(deleteList, function(index, value) {
						if(uncheck) {
							$("input:checked.multiRemove").each(function() {
								if (this.checked) {
									this.checked = false; // Uncheck deleted
								}
							});
						}
						// Delete user(s) from table
						$("#users > tbody > tr#user_id-" + value).fadeOut(500, function() {
							userTable.row('#user_id-' + value).remove().draw(false);
						});
					});
				},
				error: function() {
					alert("An error occured during account deletion");
				},
				failure: function() {
					alert("An error occured during account deletion");
				}
			});
		});
	};
	window.alert = function(message) {
		// Alert window override
		$("#alertModal").modal('show');
		$("#alertMsg").html(message);
	};
	function deleteUser(userId) {
		var toDelete = [];
		var token = "{{csrf_token}}";
		if(userId === "{{user.user_id}}") {
			alert("<b>Warning:</b> You cannot delete your own account");
		} else {
			toDelete.push(userId);
		}
		if(toDelete.length > 0) {
			toDeleteMessage = "Are you sure you want to delete the following account:<br/><br/><b>" + userId + "</b>";
			var data = {
				'toDelete': toDelete,
				'csrfmiddlewaretoken': token
			};
			confirmDelete(toDeleteMessage, data, toDelete, false);
		}
	}
	$(document).ready(function() {
		$('[data-toggle="tooltip"]').tooltip();
		userTable = $("#users").DataTable({
			paging: true,
			"pageLength": 25,
			"columns": [
				{ "orderable": true, "searchable": true }, // user_id
				{ "orderable": false, "searchable": false }, // title
				{ "orderable": false, "searchable": true }, // initials
				{ "orderable": false, "searchable": true }, // first name (hidden)
				{ "orderable": true, "searchable": true }, // surname
				{ "orderable": false, "searchable": true }, // email
				{ "orderable": false, "searchable": false }, // cell (hidden)
				{ "orderable": false, "searchable": false }, // account type
				{ "orderable": true, "searchable": false }, // storage used (sort by used space)
				{ "orderable": false, "searchable": false }, // disk quota (hidden)
				{ "orderable": false, "searchable": false }, // edit button
				{ "orderable": false, "searchable": false }, // delete button
				{ "orderable": false, "searchable": false } // delete checkbox
			],
			"initComplete": function () {
				// Hook update user buttons
				editUserHookUpdateButtons(this.api().rows().nodes().toJQuery());
			}
		});
	});
	$("#remove").on("click", function () {
		var toDelete = [];
		var token = $(this).data("csrf");
		var deleteSelf = false;
		$("input:checked.multiRemove").each(function() {
			if (this.checked) {
				if($("#remove").data("id") != $(this).data("id")) {
					// Cannot delete myself
					toDelete.push({
						"id": $(this).data("id"),
						"pk": $(this).data("pk")
					});	
				} else {
					this.checked = false; // Uncheck self
					deleteSelf = true;
				}
			}
		});
		var toDeleteMessage = "Are you sure you want to delete these users:<br/>";
		var toDeleteList = [];
		$.each(toDelete, function(index, value) {
			toDeleteMessage += "<b>" + value.id + "</b><br/>";
			toDeleteList.push(value.pk);
		});
		if(deleteSelf) {
			toDeleteMessage += "<b>Warning:</b> You cannot delete your own account";
		}
		if(toDeleteList.length > 0) {
			var data = {
				'toDelete': toDeleteList,
				'csrfmiddlewaretoken': token
			};
			confirmDelete(toDeleteMessage, data, toDeleteList, true);
		} else {
			var deleteWarningMessage = "Please select at least one user account to delete";
			if(deleteSelf) {
				deleteWarningMessage += "<br/><br/><b>Warning:</b> You cannot delete your own account";
			}
			alert(deleteWarningMessage);
		}
	});
</script>
{% endblock context %}